/* styles.css */

body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-image: url('fdf.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column; /* Ensure elements stack vertically */
    justify-content: center;
    align-items: center;
}
.button {
    padding: 15px 30px;
    font-size: 20px;
    color: #fff;
    font-weight: bold;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    z-index: 2;
}

.button:hover {
    background-color: #fff;
    color: #000;
}

.surprise {
    font-weight: bold;
    color: lightpink;
}

.balloon {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ff4081; /* Balloon color */
    z-index: 1;
}

.pop {
    animation: pop 0.3s linear forwards;
}

@keyframes pop {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}
.countdown-card {
    display: flex;
    justify-content: space-around;
    width: 80%;
}

.countdown-item {
    text-align: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
}

.countdown-value {
    font-size: 32px;
    font-weight: bold;
}

.countdown-label {
    font-size: 16px;
    color: #666;
}



